.roulette{
    overflow: hidden;
    min-width: 300px;
    min-height: 300px;
}
#wheel{
    min-width: 300px;
    min-height: 300px;
    background-image: url(../img/wheel.png);
    background-size: contain;
    background-repeat: no-repeat;
    -o-transform: rotate(30deg);
	-ms-transform: rotate(30deg);
	-moz-transform: rotate(30deg);
    -webkit-transform: rotate(30deg);
    position: relative;
}