.userpanel{
    width: 100%;
    height: auto;
    background: #333;
    padding: 30px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#balance{
    color: #fff;
    font-size: 36px;
}
.buttons{
    display: flex;
    justify-content: space-between;
}
.button{
    color: #fff;
    font-size: 30px;
    background: #0d0d61;
    text-align: center;
    padding: 10px 10px;
    border: 2px solid #ffd700;
    border-radius: 8px;
    cursor: pointer;
    margin-bottom: 15px;
}
#continue{
    background: #b60a0a;
    color: #ffd700;
}
.button:hover{
    background: #0e0ecf;
}
#result{
    color: #fff;
    font-size: 36px;
    background: #066806;
    text-align: center;
    padding: 10px 0;
    border: 2px solid #ffd700;
    border-radius: 8px;
    cursor: not-allowed;;
}
.bets-list{
    padding: 0 20px;
    color: #fff;
    width: 300px;
    height: 300px;
}
.bets-list h3{
    text-align: center;
    font-size: 1.5em;
    margin: 0 0 5px 0;
}
.bets-list-inner{
    width: 100%;
    height: 80%;
    overflow: auto;
    font-size: 14px;
    background: #066806;
    border: 4px solid #0d0d61;
    padding: 10px 20px;
}

.hidden{
    display: none;
}


.chip-set{
    width: 300px;
    height: 300px;
    padding-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
}
.chip{
    width: 60px;
    height: 60px;
    margin: 8px;
    background: #fff;
    color: #333;
    border: 4px dashed #8b8b8b;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}